TS_AUTHKEY=

TAILNET_DOMAIN=

OCIS_ADMIN_PASSWORD=changeme

IMMICH_DB_USERNAME=immich
IMMICH_DB_PASSWORD=changeme
IMMICH_DB_DATABASE=immich

VAULTWARDEN_ADMIN_TOKEN=changeme

# Planka
PLANKA_SECRET_KEY=changeme
PLANKA_DB_USERNAME=planka
PLANKA_DB_PASSWORD=changeme
PLANKA_DB_DATABASE=planka
PLANKA_ADMIN_EMAIL=admin@example.com
PLANKA_ADMIN_PASSWORD=changeme
PLANKA_ADMIN_NAME=Admin
PLANKA_ADMIN_USERNAME=admin

DATA_PATH=/mnt/data