nextcloud.amr-cloud.tail80ea1b.ts.net {
    reverse_proxy nextcloud:80
}

jellyfin.amr-cloud.tail80ea1b.ts.net {
    reverse_proxy jellyfin:8096
}

vaultwarden.amr-cloud.tail80ea1b.ts.net {
    reverse_proxy vaultwarden:80
}

immich.amr-cloud.tail80ea1b.ts.net {
    reverse_proxy immich-server:2283
}