amr-cloud.tail80ea1b.ts.net:8096 {
    tls /certs/amr-cloud.tail80ea1b.ts.net.crt /certs/amr-cloud.tail80ea1b.ts.net.key

    reverse_proxy jellyfin:8096
}

amr-cloud.tail80ea1b.ts.net:2283 {
    tls /certs/amr-cloud.tail80ea1b.ts.net.crt /certs/amr-cloud.tail80ea1b.ts.net.key

    reverse_proxy immich-server:2283
}

amr-cloud.tail80ea1b.ts.net:8443 {
    tls /certs/amr-cloud.tail80ea1b.ts.net.crt /certs/amr-cloud.tail80ea1b.ts.net.key

    reverse_proxy vaultwarden:80
}

amr-cloud.tail80ea1b.ts.net {
    tls /certs/amr-cloud.tail80ea1b.ts.net.crt /certs/amr-cloud.tail80ea1b.ts.net.key

    reverse_proxy nextcloud:80
}
